.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: #202024;
    padding: 1.25rem 0;
}

.headerImage {
    height: 2rem;
}


.wrapper{
    max-width: 70rem;
    display: grid;
    grid-template-columns: 256px 1fr;
    margin: 2rem auto;
    padding: 0 1rem;
    gap: 2rem;
}

.sidebarContainer{
    background-color: var(--gray-800);
    width: 256px;
    height: 294px;
    display: flex;
    text-align: center;
    flex-direction: column;
    border: 10px  var(--gray-800);
    border-radius: 10px ;
    overflow: hidden;
    gap: 8px;   
}


.backgroundSide {
    height: 72px;
    width: 256px;
}


.profileSide{
    width: 60px;
    height: 60px;
    margin-top: -40px;
    margin-left: 92px;
    border: solid var(--gray-800);
    border-radius: 10px;
    outline: 2px solid var(--green-500);
    overflow: hidden;
}

.sideProfileName{
    font-weight: bold;
}

.buttonSide{
    border: solid var(--green-500);
    border-radius: 10px;
    color: var(--green-500);
    background-color: var(--gray-800);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 24px 32px;
    padding: 14px 14px 24px 24px;
    height: 50px;
    width: 192px;
    cursor: pointer;
}

.lineSide{
    margin-top: 24px;
    border: 1px solid var(--gray-600);
    background-color: var(--gray-600);
}

.postContainer{
    display: flex;
    width: 832px;
    height: 650px;
    flex-direction: column;
    background-color: var(--gray-800);
    border: solid var(--gray-800);
    border-radius: 10px;
}

.postName{
    display: flex;
    width: 250px;
    height: 100px;
    margin-top: 40px;
    gap: 10px;
}

.postImageAuthor{
    width: 60px;
    height: 60px;
    margin-left: 40px;
    border: solid var(--gray-600);
    border-radius: 16px;
    outline: 2px solid var(--green-500);
}

.postProfile{
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-left: 16px;
}

.postProfileName{
    font-weight: bold;
}

.postPublication{
    width: 752px;
    height: 206px;  
    display: flex;
    margin-left: 40px;
    border-radius: 10px;
    margin-bottom: 24px;
}

.postLine{
    border: 1px solid black;
}

.postFeedback{
    margin-top: 24px;
    margin-left: 40px;
    justify-content: center;
}

.postTitleFeedback{
    font-weight: bold;
}

.postTextArea{
    width: 752px;
    height: 96px;
    background-color: black;
    border: solid var(--gray-800);
    border-radius: 10px;
    margin-top: 16px;
    color: white;
    resize: none;
}

.postButton{
    width: 108px;
    height: 49px;
    cursor: pointer;
    background-color: var(--green-500);
    border: solid var(--green-500);
    border-radius: 10px;
    margin-top: 16px;
    color: white;
    font-weight: bold;
}

.footerContainer{
    display: flex;
    height: 200px;
    background-color: var(--gray-800);
}

.footerContainer img{
    height: 45px;
    margin-left: 100px;
    margin-top: 60px;
}

.footerContainer strong{
    font-weight: bold;
    font-size: 30px;
    margin-top: 58px;
    margin-left: 10px;
    width: 300px;
}

.footerEmail{
    margin-left: 1000px;
    margin-top: 30px;
}

.footerEmail h1{
    font-weight: bold;
    font-size: 30px;
}

.footerEmail p {
    margin-top: 15px;
}

.footerEmail input{
    background-color: var(--gray-800);
    color: white;
    border: solid #202024;
    border-bottom: 3px solid black;
    outline: var(--gray-800);
    margin-top: 20px;
    caret-color: black;
}

.footerEmail button{
    background-color: var(--gray-800);
    border: none;
    cursor: pointer;
}










